<div class="container">
  <div class="row">
    <div class="col-6" style="margin-top:20px">

      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

    <h3>投稿する</h3>
      <%= form_with model: @post  do |f| %>

        <div class="form-group" style="margin-top:30px">
          <h5 class="mb-3">タイトル</h5>
          <%= f.text_field :title, class:"form-control", style:"width:70%", id:"title" %>
        </div>

        <div class="form-group">
          <h5 class="mb-3">本文</h5>
          <%= f.text_area :body, class:"form-control", style:"width:70%", rows:"8", id:"body"%>
        </div>

        <div class="form-group">
          <h5 class="mb-3">画像</h5>
          <%= f.file_field :post_image, accept: "image/*", id:"postimage"%>
        </div>

        <div style="margin-top:30px">
          <%= f.submit "投稿する", class:"btn btn-success" %>
        </div>

      <% end %>
    </div>

    <div class="col-6">
      <h3>投稿一覧</h3>
      <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>ユーザ</th>
          <th>タイトル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <p style="margin-left:10px"><%= image_tag @user.get_profile_image(80,80) %></p>
                <p><%= @user.name %>さん</p>
              <% end %>
            </td>
            <td><%= post.title %></td>
            <td><%= link_to "詳細へ", post_path(post.id) %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>

  </div>
</div>
