<div class="container">
  <div class="row">
    <div class="col-4" style="margin-top:20px">
    <h3>投稿する</h3>
      <%= form_with model: @post do |f| %>
      <div class="form-group" style="margin-top:30px">
        <h5 class="mb-3">タイトル</h5>
        <%= f.text_field :title, class:"form-control", style:"width:70%", id:"post_title" %>
      </div>

      <div class="form-group">
        <h5 class="mb-3">本文</h5>
        <%= f.text_area :body, class:"form-control", style:"width:70%", rows:"3", id:"post_body"%>
      </div>

      <div class="form-grop">
        <h5 class="mb-3">画像</h5>
        <%= f.file_field :post_image, accept: "image/*", id:"postimage"%>
      </div>

      <div style="margin-top:30px">
        <%= f.submit "投稿する", class:"btn btn-success" %>
      </div>
    </div>

    <div class="col-8">

      <div>
        <h2><%= @post.title %></h2>
        <p>
          <%= @user.name %>さん
          <span style="margin-left:20px">
            <%= @post.created_at.strftime('%Y/%m/%d') %>
          </span>
        </p>
      </div>

      <div class='row'>

        <div>
          <%= image_tag @post.get_post_image(200,400) %>
        </div>

        <div class="mx-auto">
          <h3 style="margin-bottom:20px"><%= @post.title %></h3>
          <p class="text-break" style="width: 30rem;"><%= safe_join( @post.body.split("\n"),tag(:br))%></p>
          <% if @post.favorited_by?(current_user) %>
            <p>
              <%= link_to post_favorites_path(@post.id), method: :delete do %>
                ♥<%= @post.favorites.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to post_favorites_path(@post.id), method: :post do %>
                ♡<%= @post.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>

          <div>
            <% if user_signed_in? && current_user.id == @post.user_id %>
              <%= link_to '編集' , edit_post_path(@post.id) , class:"btn btn-success" %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
      <% end %>
  </div>
</div>