<div class="container">
  <div class="row">
    <div class="col-5" style="margin-top:20px">
      <h2>マイページ</h2>
      <h5 style="margin-top:20px">プロフィール</h5>
      <div class="user_profile">
        <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary" do %>
          <%= image_tag @user.get_profile_image(520,300) %>
        <% end %>
        <% if @user == current_user %>
        <p><%= link_to "プロフィールを編集する", edit_user_path(@user.id) %></p>
        <% end %>
      </div>
    </div>

    <div class="col-7" style="margin-top:100px">
      <table class="table table-bordered text-center">
        <tr>
          <th class="table-secondary">氏名</th>
    	    <td><%= @user.name %></td>
        </tr>
        <tr>
          <th class="table-secondary">フリガナ</th>
          <td><%= @user.name_kana %></td>
        </tr>
        <tr>
          <th class="table-secondary">生年月日</th>
          <td><%= @user.date_of_birth.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th class="table-secondary">性別</th>
          <td><%= @user.sex_select_i18n %></td>
        </tr>
        <tr>
          <th class="table-secondary">email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
      	  <th class="table-secondary">自己紹介</th>
      	  <td><%= @user.introduction %></td>
        </tr>
      </table>

      <div style="margin-top:40px">
        <h5>
          <span class="mx-auto">投稿一覧</span>
          <span style="margin-left:220px"><%= link_to "一覧を見る",  posts_path, class: "btn btn-primary d-grid gap-2 col-3 mx-auto" %></span>
        </h5>
        <h5>
          <span class="mx-auto">いいねした投稿</span>
          <span style="margin-left:160px"><%= link_to "一覧を見る",  likes_path, class: "btn btn-primary d-grid gap-2 col-3 mx-auto" %></span>
        </h5>
        <h5>
          <span class="mx-auto">体重管理</span>
          <span style="margin-left:220px"><%= link_to "体重管理へ",  weight_managements_path, class: "btn btn-primary d-grid gap-2 col-3 mx-auto" %></span><!-- pathの変更必要 -->

        </h5>
      </div>
    </div>
  </div>
</div>