<div class="container">
  <div class="row">
    <div class="col-5 head-margin">
      <h2>マイページ</h2>
      <h5 class="heading-margin">プロフィール</h5>
      <div class="user_profile">
        <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary" do %>
          <%= image_tag @user.get_profile_image(520,300) %>
        <% end %>
        <% if @user == current_user %>
        <p><%= link_to "プロフィールを編集する", edit_user_path(@user.id) %></p>
        <% end %>
      </div><!-- /.user-profile -->
    </div><!-- /.head-margin -->

    <div class="col-7 right-content">
      <table class="table table-bordered text-center user-table">
        <tr>
          <th class="table-secondary">氏名</th>
    	    <td><%= @user.name %></td>
        </tr>
        <tr>
          <th class="table-secondary">フリガナ</th>
          <td><%= @user.name_kana %></td>
        </tr>
        <tr>
          <th class="table-secondary">生年月日</th>
          <td><%= @user.date_of_birth.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th class="table-secondary">性別</th>
          <td><%= @user.sex_select_i18n %></td>
        </tr>
        <tr>
          <th class="table-secondary">email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
      	  <th class="table-secondary">自己紹介</th>
      	  <td><%= @user.introduction %></td>
        </tr>
      </table>

      <div class="user-items">
        <h5>
          <span>投稿一覧</span>
          <span class="item-1"><%= link_to "一覧を見る",  posts_path, class: "btn btn-primary d-grid gap-2 col-3 mx-auto" %></span>
        </h5>
        <h5>
          <span>いいねした投稿</span>
          <span class="item-2"><%= link_to "一覧を見る",  likes_path, class: "btn btn-primary d-grid gap-2 col-3 mx-auto"%></span>
        </h5>
        <h5>
          <span>体重管理</span>
          <span class="item-3"><%= link_to "体重管理へ",  weights_path, class: "btn btn-primary d-grid gap-2 col-3 mx-auto"%></span>
        </h5>
      </div><!-- /.user-items -->

    </div><!-- /.right-content -->
  </div>
</div>