<div class="container">
  <div class="row">
    <div class="col head-margin">

      <% if @weight.errors.any? %>
        <%= @weight.errors.count %>件のエラーが発生しました
        <ul>
          <% @weight.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <h2>体重編集</h2>

      <%= form_with model: @weight, url: weight_path(@weight) do |f| %>

        <div class="form-group">
          <%= f.label :weight, "体重" %>
          <%= f.number_field :weight, step: '0.1', class:"form-control title", id:"weight" %>
        </div>

         <div class="form-group">
          <%= f.submit "保存する", class:"btn btn-success" %>
        </div>

      <% end %>


    </div><!-- head-margin -->
  </div>
</div>