<div class="container">
  <div class="row">
    <div class="col" style="margin-top:20px">

      <% if @evaluation.errors.any? %>
        <%= @evaluation.errors.count %>件のエラーが発生しました
        <ul>
          <% @evaluation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

        <h2>コメント編集</h2>

        <%= form_with model: [@post, @evaluation], url: admin_post_evaluation_path do |f| %>

        <div class="form-group" style="margin-top:20px">
          <%= f.text_area :evaluation, class: "form-control", rows: "2" %>
          <div style="margin-top:20px">
            <%= f.submit "保存する", class:"btn btn-success" %>
          </div>
        </div>

        <% end %>

    </div>
  </div>
</div>