<div class="container">
  <div class="row">
    <div class="col head-margin">
      <div class="d-flex justify-content-between mx-auto">
        <h2>メニュー一覧</h2>
        <h5>
          <%= form_tag menus_path, method: :get, class: 'boards__searchForm' do %>
            タグ検索:
            <%= select_tag :tag_id,
              options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                {
                  prompt: 'タグで絞り込み検索',
                  onchange: 'submit(this.form);'
                }
            %>
          <% end %>
        </h5>
      </div>

      <div class="row menu-content">
        <% @menus.each do |menu| %>
        <div class="col">
          <%= link_to menu_path(menu.id) do %>
            <%= image_tag menu.get_menu_image(200,200) %>
          <% end %>
          <p><%= menu.title %></p>
          <p>ジャンル名:<%= menu.genre.name %></p>
        </div>
        <% end %>
      </div><!-- /.menu-content -->

    </div><!-- /.head-margin -->
  </div>
</div>