<div class="container">
  <div class="row">
    <div class="col-5" style="margin-top:20px">
      <h2>マイページ</h2>
      <div class="" style="margin-top:100px">
        <h5>プロフィール</h5>
        <div class="">
          <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary" do %>
            <%= image_tag @user.get_profile_image(100,100) %>　<!-- 画像をもっと大きくしたい -->
          <% end %>
          <p><%= link_to "プロフィールを編集する", edit_user_path(@user.id) %></p>
        </div>
      </div>
    </div>

    <div class="col-7" style="margin-top:100px">
      <table class="table table-bordered text-center">
        <tr>
          <th class="table-secondary">氏名</th>
    	    <td><%= @user.name %></td>
        </tr>
        <tr>
          <th class="table-secondary">フリガナ</th>
          <td><%= @user.name_kana %></td>
        </tr>
        <tr>
          <th class="table-secondary">生年月日</th>
          <td><%= @user.date_of_birth %></td> <!-- "-"ではなく"/"がいいけど、修正優先度は低 -->
        </tr>
        <tr>
          <th class="table-secondary">性別</th>
          <td><%= @user.sex %></td> <!-- enumの記述? -->
        </tr>
        <tr>
          <th class="table-secondary">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
      	  <th class="table-secondary">自己紹介</th>
      	  <td><%= @user.introduction %></td>
        </tr>
      </table>

      <div style="margin-top:40px">
        <h5>
          <span class="">投稿一覧</span>
          <span class="" style="margin-left:220px"><%= link_to "一覧を見る",  user_posts_path, class: "btn btn-primary d-grid gap-2 col-3 mx-auto" %></span>
        </h5>
        <h5>
          <span class="">いいねした投稿</span>
          <span class="" style="margin-left:160px"><%= link_to "一覧を見る",  user_posts_path, class: "btn btn-primary d-grid gap-2 col-3 mx-auto" %></span><!-- pathの変更必要　-->
        </h5>
        <h5>
          <span class="">体重管理</span>
          <span class="" style="margin-left:220px"><%= link_to "体重管理へ",  user_posts_path, class: "btn btn-primary d-grid gap-2 col-3 mx-auto" %></span><!-- pathの変更必要 -->
        </h5>
      </div>

    </div>
  </div>
</div>
