<div class="container">
  <div class="row">
    <div class="col head-margin">
      <h2>投稿一覧</h2>

      <table class="table table-hover table-sm">
        <thead>
          <tr class="table-secondary">
            <th>ユーザ</th>
            <th>タイトル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <p><%= image_tag post.user.get_profile_image(80,80) %></p>
                <p><%= post.user.name %>さん</p>
              </td>
              <td style="vertical-align: middle"><%= post.title %></td>
              <td style="vertical-align: middle"><%= link_to "詳細へ", admin_post_path(post.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>

    </div><!-- /.head-margin -->
  </div>
</div>
