<div class="container">
  <div class="row">
    <div class="col head-margin">
      <h2><%= @user.name %>さんの会員詳細</h2>

      <%= form_with model: @user, url: admin_user_path do |f| %>

        <table class="table table-borderless table-hover">
          <tr>
            <th><%= f.label :id, "会員ID" %></th>
            <td> <%= @user.id %></td>
          </tr>

          <tr>
            <th><%= f.label :name, "氏名" %></th>
            <td><%= @user.name %></td>
          </tr>

          <tr>
            <th><%= f.label :name_kana, "フリガナ" %></th>
            <td><%= @user.name_kana %></td>
          </tr>

          <tr>
            <th><%= f.label :date_of_birth, "生年月日" %></th>
            <td><%= @user.date_of_birth.strftime('%Y/%m/%d') %></td>
          </tr>

          <tr>
            <th><%= f.label :sex_select, "性別" %></th>
            <td><%= @user.sex_select_i18n %></td>
          </tr>

          <tr>
            <th><%= f.label :introduction, "自己紹介" %></th>
            <td> <%= @user.introduction %></td>
          </tr>

          <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <td><%= @user.email %></td>
          </tr>

          <tr>
            <th> <%= f.label :is_deleted, "会員ステータス" %></th>
            <td><%= @user.is_deleted %></td>
          </tr>

          <tr>
            <td><%= link_to "編集する", edit_admin_user_path(@user.id), class:"btn btn-success" %></td>
            <td></td>
          </tr>

        </table>

      <% end %>

    </div><!-- /.head-margin -->
  </div>
</div>


