<div class='container'>
  <div class='row'>
    <div class="col">

      <h2 class="mx-auto" style="margin-top:20px"><%= @menu.title %></h2>
      <p>
        ジャンル名:<%= @menu.genre.name %>
        <span style="margin-left:20px"><%= @menu.created_at.strftime('%Y/%m/%d') %></span>
      </p>
      <div><%= image_tag @menu.get_menu_image(100,100) %></div>
      <div class="col-7"><%= @menu.body  %></div>

    </div>
  </div>
</div>