<div class="container">
  <div class="row">
    <div class="col-7 head-margin">

      <h2><%= @menu.title %></h2>
      <p>
        ジャンル:<%= @menu.genre.name %>
        <span class="menu-item">作成日:<%= @menu.created_at.strftime('%Y/%m/%d') %></span>
        <span class="menu-item">タグ:
          <% @menu.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </span>
      </p>

      <div><%= image_tag @menu.get_menu_image(500,500) %></div>
      <div class="menu-text"><%= safe_join(@menu.body.split("\n"),tag(:br)) %></div>

    </div><!-- /.head-margin -->

    <div class="col-5 head-margin">
      <h4>コメント一覧</h4>
      <table class="table table-hover">
        <thead>
          <tr class="table-secondary">
            <th>ユーザ名</th>
            <th>コメント</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.user.name %></td>
              <td><%= comment.comment %></td>
              <td>
                <%= link_to "編集", edit_admin_menu_comment_path(comment.menu.id, comment.id), class:"btn btn-sm btn-success" %>
                <%= link_to "削除", admin_menu_comment_path(comment.menu.id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか?", class:"btn btn-sm btn-danger"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.head-margin -->

  </div>
</div>