<div class='container'>
  <div class='row'>
    <div class="col">

      <h2 class="mx-auto" style="margin-top:20px">アカウントの新規登録</h2>

     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :name, "氏名" %>
          <%= f.text_field :name, placeholder: "山田花子", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :name_kana, "フリガナ" %>
          <%= f.text_field :name_kana, placeholder: "ヤマダハナコ", class: "form-control" %>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.label :date_of_birth, "生年月日" %><br>
            <%= f.date_select :date_of_birth, {start_year: 1950, end_year: 2023, include_blank: true, use_two_digit_numbers: true}, {class: "input-tab birthday-select"} %>
          </div>
        </div>

        <div class="form-group">
          <div>
            <%= f.label :sex, "性別" %>
          </div>
          <%= f.radio_button :sex_select, User.sex_selects.key(0) %>
          <%= f.label :sex_select_male, User.sex_selects_i18n[:male] %>
          <%= f.radio_button :sex_select, User.sex_selects.key(1) %>
          <%= f.label :sex_select_female, User.sex_selects_i18n[:female] %>
          <%= f.radio_button :sex_select, User.sex_selects.key(2) %>
          <%= f.label :sex_select_other, User.sex_selects_i18n[:other] %>
          <%= f.radio_button :sex_select, User.sex_selects.key(3) %>
          <%= f.label :sex_select_no_aunser, User.sex_selects_i18n[:no_answer] %>
        </div>

        <div class="form-group">
          <%= f.label :email, "email" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, "パスワード(6文字以上)" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "パスワード(確認用)"  %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group text-center" style="margin-top:30px">
          <%= f.submit "新規登録", class:"btn btn-primary" %>
        </div>

        <p>既に登録済みの方は <%= link_to "こちら", new_user_session_path %> からログインしてください。</p>

      <% end %>
    </div>
  </div>
</div>